/_build
/cover
/deps
/doc
/.fetch
erl_crash.dump
*.ez
*.beam
/config/*.secret.exs
.elixir_ls/
/jido/
/0001_local/
/0002_local/
/agentjido/
/agentjido/jido/

# Elixir/Erlang build artifacts
**/_build/
**/deps/
**/priv/plts/
**/.plt
**/.plt.*
